<div class="clear last clearfix" id="footer">
  <div class="clear last" id="top-footer">
   <a href="http://eudemocracia.org"><img class="footer-logo clear" src="/images/static/footer-logo.png" alt="" width="150" height="42"></a>
  </div>
  <a href="#" id="toTop" name="toTop">^ Scroll to Top</a><%#FIXME: i18n %>
</div>
