<div id="inner-page">
  <div class="container">
   <%= render :partial => 'header', :locals => {:page => 'how'} %>

    <div class="clear span-12 last" id="main-inner">
      <div>
      <h1>¿Cómo funciona una Organización Abierta?</h1>
      <span class="span-12 left whitebox">
        <span class="span-6 left colborder">
          <h2>Nuevos Equipos de Trabajo</h2>
                      <p>No mas pirámides jerárquicas, títulos o directores.</p>
                      <p>Todos pueden ser miembros y cada miembro tiene igual poder de voto vinculante.
Cuando la gente se une son colaboradores. Los votos son registrados pero no son vinculantes. De esta manera, los equipos pueden evidenciar la voz que tienen pero en última instancia los miembros del equipo son los que conducen la dirección del proyecto.</p>
                      <p>Los colaboradores son nominados para ser miembros y son elegidos por el Equipo Principal. El Equipo Principal es un subgrupo de miembros que pueden votar a los nuevos miembros.</p>
                      <p>Cualquiera puede ser nominado en cualquier nivel de la organización y todos son responsables entre sí. El resultado es una saludable y dinámica jerarquía que reemplaza rígida excluida anteriormente.</strong></p>
        </span>
        <span class="span-6 left last">
          <span class="viewport">
          <a class="videolink" href="http://www.youtube.com/v/IdcAxGGRafc&hl=en&fs=1&autoplay=1&fmt=6" target="blank" title="open enterprise governance">
          <img src="/images/static/openenterprisegovernance.jpg" />
          </a>
          </span>
          <blockquote>Nunca cambies las cosas peleando con la realidad existente. Para cambiar algo, crea un nuevo modelo que hace al existente modelo obsoleto.<author>Buckminster Fuller</author></blockquote>
        </span>


      </span>
      </div>

      <div>
            <h1></h1>
            <span class="span-12 left whitebox">
              <span class="span-6 left colborder">
                <blockquote>Mas transparencia es una fuerza imparable. Internet hace mucho mas fácil a las empresas el flujo de información y más difícil para ellos tener secretos. Con una mayor transparencia se genera  una mayor responsabilidad y un mejor comportamiento corporativo. Antes que participar en inútil resistencia, las compañías debieran activamente adoptar la transparencia y repensar sus valores y generalmente mejoran.<author>Don Tapscott, The Naked Corporation</author></blockquote>
              </span>
              <span class="span-6 left last">
                <h2>Transparencia Total</h2>
                            <p>Quitando los secretos y los diferentes niveles de acceso a la información eliminas dos de los caminos más comunes hacia el abuso de poder.</p>
                            <p>Reglas de gobierno simples y transparentes mantienen a las personas y equipos controlables para ellos mismos y para los demás. Su resultado es, menos política interna innecesaria y menos abusos de poder.</p>
              </span>
            </span>
      </div>

      <div>
            <h1></h1>
            <span class="span-12 left whitebox">
              <span class="span-6 left colborder">
                <h2>Liderazgo Distribuido. No Management</h2>
                            <p>El trabajo es dispuesto en proyectos de Flujo de trabajos. Los miembros y colaboradores se mueven libremente de un flujo hacia otro. Eligiendo el trabajo que ha sido colectivamente priorizado. Haciendo solo aquellos de los que están convencido es necesario hacer.</p>
                            <p>El liderazgo situacional emerge a través de la influencia en vez de la prefijada administración a través de la coerción.</p>
                            <p>Sin departamentos, CEOs o gerentes.</p><p>Sin comités o roles predefinidos o áreas de responsabilidad. A nadie se le dice que hacer.</p>
              </span>
              <span class="span-6 left last">
                    <span class="viewport">
                <a class="fancy_image" HREF="/images/static/mindmap.jpg" title="Open Enterprise Principles Mindmap"> <span class="dark-background"></span> <img src="/images/static/mindmap-medium.jpg" alt="" width="460" height="247"/> </a></span>
                <blockquote>Esta es la era donde no se pide por mejor gerenciamiento, se pide por un renacimiento de la autodirección<author>Daniel Pink</author></blockquote>
              </span>

            </span>
      </div>
      <div>
            <h1></h1>
            <span class="span-12 left whitebox">
              <span class="span-6 left colborder">
                <br><br><br>
                <blockquote>Debe ser difícil para aquellos que han tenido la autoridad como verdad más que a la verdad como autoridad.<author>Massey Massey</author></blockquote>
              </span>
              <span class="span-6 left last">
                <h2>Eficiente &amp; Inclusivo en la <br>Toma de Decisiones</h2>
                            <p>Utilizando el sistema de voto de mayoría implícita no todos tienen voto y aquellos que se hacen presentes son los que influyen en lo que puede suceder o sucede.
</p>
                            <p>Aprende más acerca de los detalles del Modelo de Administración de Organizaciones Abiertas
 <a href="/front/open_enterprise_governance_model.html" target="_blank">Modelo de Organización Abierta</a></p>
              </span>
            </span>
      </div>

      <div>
            <h1></h1>
            <span class="span-12 left whitebox">
              <span class="span-6 left colborder">
                <h2>La Compensación basada en la Contribución</h2>
                            <p>El modelo de Organización Abierta es un <strong>espacio de trabajo administrado por pares, que se auto-gestiona y busca resultados.</strong> No es necesario salarios, bonus, revisiones anuales o control del tiempo. La compensación está basada en la contribución y evaluada por los pares.</p>
                            <p>Así es como funciona:</p>
                              <p>Luego de que un grupo de tareas es completado, automáticamente una retrospectiva comienza. Cada persona que trabajó en este grupo de tareas, evalúa:</p>
                              <ul>
                                    <li>El porcentaje de trabajo que creen que hicieron</li>
                                    <li>El porcentaje de trabajo que creen otros hicieron</li>
                                    <li>Qué tan seguros están de su estimación</li>
                              </ul>

                              <p>Todos los participantes son compensados basado en el promedio de evaluación que reciben de sus pares. Una matriz de reputación hace un seguimiento de la precisión de las evaluaciones que las personas hacen de ellas mismas a lo largo del tiempo.</p>
                              <p style="font-style:italic">Nota: Este módulo es opcional y puede ser incorporado en cualquier flujo de trabajo.</p>
                            </span>

                            <span class="span-6 left last">
                              <span class="viewport">
                              <a class="videolink" href="http://www.youtube.com/v/ydHazAMogaw&hl=en&fs=1&autoplay=1&fmt=6" target="blank" title="retrospectives">
                              <img src="/images/static/retro_video.png" />
                              </a>
                              </span>
                              <br><br>
                              <blockquote>El paraíso es propósito, principio y gente. El purgatorio es papel y procedimiento. El infierno son reglas y regulaciones.<author>Dee Hock, Founder and CEO of VISA</author></blockquote>

            </span>
      </div>

      <div>
            <h1></h1>
            <span class="span-12 left whitebox">
              <span class="span-6 left colborder">
                <blockquote>En la era del arte manual, las formas dominantes de organización eran las poderosas iglesias, reinos y cofradías de artistas manuales. Luego en la era de la creación mecánica llevó a la aparición de las organizaciones de hoy, terminando con la dominación de las cofradías, reinos e iglesias, para que la era de la creación mental diera nacimiento a nuevos  conceptos de organización que terminarán con el control de las estructuras organizacionales actuales.<br><author>Dee Hock, CEO and Founder of VISA</author></blockquote>
              </span>
              <span class="span-6 left last">
                <h2>Pocos Obstáculos para Unirse</h2>
                            <p>Sin entrevistas, CVs o referencias.</p>
                            <p>Transparencia, conocimiento público y un conjunto de estructura de gobierno/administración que permite a cualquiera que quiera unirse, hacerlo.</p>
                            <p>Los votos no vinculantes mantienen la integridad y la dirección de la organización.El conocimiento público le permite a la gente unirse en días, con un costo mínimo para los miembros ya existentes.</p>
                            <p>La membrana semi permeable del modelo de gobierno/administración facilita a las personas hacerse voluntarias y a la organización abierta, crecer.</p>
              </span>
            </span>
      </div>

      <div>
            <h1></h1>
            <span class="span-12 left whitebox">
              <span class="span-6 left colborder">
                <h2>Valores Compartidos:<br>El Propósito es Básico</h2>
                            <p>Una Organización Abierta es una comunidad que forma a su alrededor un valor y propósito compartido. El acuerdo alrededor de un valor compartido o un conjunto de valores es una fuerza cohesiva fundamental que une a la organización.</p><p><strong>El propósito es primero, las metas son secundarias</strong> porque mientras que la organización se mueve hacia una meta, nuevas experiencias pueden hacer detectar al grupo un cambio en la meta planteada.</p><p>Las metas deben evolucionar.Los Valores se modifican mucho más lento, entonces se transforman en los principios guía que determinan cuando es necesario incorporar nuevas metas, cuando en necesario alterar la viejas y así evolucionar.</p>
              </span>
              <span class="span-6 left last">
                <h2>El Órden deriva del Espíritu Cohesivo y no del Control</h2>
                <p>Viejas maneras de pensar sugiere que el orden solo sucede cuando una persona está en control o cuando un ejecutivo realiza decisiones informadas en nombre del grupo. Esta suposición ignora la naturaleza e incontables situaciones en que el orden deriva del caos.</p>
                <p>En contraste, en una Organización Abierta, todas las acciones surgen orgánicamente y a través de la auto-motivación para promover los valores compartidos del grupo. Este principio es el corazón de la Organización Abierta porque la acción autopromovida es más poderosa, eficiente e innovadora que la acción coaccionada. Le brinda a la Organización Abierta su completo/puro/absoluto poder para obtener diez veces el trabajo hecho en la mitad del tiempo que en una organización convencional.</p>
              </span>
            </span>
      </div>
      <div class="paint">
        <p>
        &nbsp; <br>Mira las <a href="/front/what.html">características de la plataforma</a>
        </p>
      </div>
      <div id="pricing-col" class="span-12 clear">
        <h2>Preguntas y Respuestas</h2>
        <div class="column span-5 left first">
          <h4>¿Es este un modelo que funciona?</h4>
          <p>Varios aspectos del Modelo de Organización Abierta han sido utilizados exitosamente por otras organizaciones, incluyendo Visa, Goretex, Apache, Software Libre, Wikipedia; Linux, Mondragón Corporación Cooperativa (españa) y muchos más.</p><p> Mientras estas compañías han sido pioneras en estos conceptos con excelentes resultados,  BetterMeans es revolucionaria reuniendo éstas técnicas en un modelo simple y cohesivo.</p>
          <p>Pensadores de negocio líderes como Gary Hamel y Margaret Wheately analizan el cambio en el diseño organizacional y están sugiriendo a las compañías a adoptar hoy el modelo de estructuras auto-organizadas.
</p>
          <p>El Modelo de Organización Abierta se basa en sus teorías e investigación y brinda una nueva manera para que la gente en conjunto y gobierne/maneje todos los principales aspectos de la administración de negocios, incluyendo la asignación de capitales, toma de decisión estratégica, compensación y administración de recursos humanos.</p>
          
          <h4>¿El código fuente es abierto y libre?</h4>
          <p>Si!</p>
          <p>Podes clonar el código aquí: <a href="http://github.com/eudemocracia/bettermeans">http://github.com/eudemocracia/bettermeans</a></p>
        </div>
        <div class="column span-5 left last">
          <h4>¿Podemos continuar usando salarios?</h4>
          <p>Absolutamente. Nos gusta <a href="http://help.bettermeans.com/retrospectives">el sistema de retrospectiva</a>, pero entendemos que mucha gente prefiere utilizar el sistema de salario (u otros sistemas) para manejar la retribución/compensación.</p>
          <p>El sistema de créditos es un modelo opcional que puedes utilizar o no, a voluntad.</p>

          <h4>¿Es esto solo para proyectos de voluntarios?</h4>
          <p>Para nada. Nuestra misión es ayudar a la gente a ganarse un correcto sustento.</p>
          <p>Habiendo dicho esto, nuestra estructura de administración/gobierno fue fuertemente influenciada por el mundo open source y por ello funciona muy bien con accionar voluntario.</p>
          <h4>¿Todo tiene que ser público?</h4>
          <p>Si.Pensamos que las organizaciones totalmente públicas y transparentes son un paso hacia adelante.</p>
          
          <h4>¿Qué clase de organización es la mejor?</h4>
          <p>Organizaciones sociales, movimientos y cooperativas. Proyectos de software libre. Organizaciones de voluntariado. Colaboración basada en el conocimiento y otras aplicaciones que nos sorprenderán!</p>

          <h4>Tengo mas preguntas...</h4>
          <p>Muy bien! Nos gusta hablar de estas cosas. Ponete en contacto con nosotros en: ...
<a href="mailto:info@ejecutivo.comunas.org.ar">info@ejecutivo.comunas.org.ar</a></p>
           <blockquote>Aun si la capacidad y la motivación del trabajo son destruídas cuando los líderes eligen poder sobre productividad, parece que los jefes prefieren tener el control que una organización que funcione bien.<author>Margaret Wheatley</author></blockquote>

        </div>
      </div>

      <div class="clear"></div>
    </div>
  </div>
</div>
</body>
</html>
