<div id="page">
  <div class="container">
    <%= render :partial => 'home/header', :locals => {:page => 'home'} %>
      <div class="learnMore span-12">
      </div>
    <div class="span-12 left" id="homebanner">
      <span class="span-5 left colborder">
        <h1>Democracia Directa en el Consejo Comunal</h1>
        <h2>
          Decidimos juntos.<br>
          Hacemos entre todos.<br>
          Obtenemos resultados.
        </h2>
        <h3>Usamos una herramienta abierta a la<br>participación, nos auto-organizarnos<br>y decidimos libremente nuestras acciones <br> en el mundo real.</h3>
        <div class="signup-area">
        <div class="signup-button left">
          <a href="/account/register">PROBANOS</a>
        </div>
        </div>

      </span>
    </div>
    <div class="clear span-12 last" id="main-inner-testimonial" style="margin-top:0px">
      <img src="/images/static/ccc14.png" class="right" width="120px" style="padding-left:20px"/>
      <p>"Eudemocracia nos está ayudando con la nueva gestión"</p>
    </div>
    <div class="clear span-12 last" id="main-inner" style="margin-top:0px">
      <div>
      <span class="span-12 left">
        <span class="span-6 left colborder">
          <h2>Necesitamos una nueva forma de organizarnos para trabajar colaborativamente.</h2>
          <p>¿Cómo tomamos las decisiones? ¿Cómo decidimos quien trabaja en que tarea? ¿Que beneficios obtenemos por el trabajo bien realizado?</p>
          <p>
            Las comunidades pueden trabajar inteligentemente y coordinadas, sin la necesidad de trabarse en reuniones interminables o dilatando las decisiones importantes. Todo ello, sin la necesidad de que un jefe nos indique permanentemente que es lo que tenemos que hacer.
          </p>
          <p>
            Los proyectos de <strong>Software Libre y la Wikipedia</strong>, son solo dos ejemplos de grandes comunidades trabajando en conjunto y en forma eficiente sin la necesidad de jerarquías fijas estipuladas.</p>
          <p>Eudemocracia te permite utilizar las <strong>mismas herramientas y principios de organización</strong> que están detrás de estos proyectos comunitarios y utilizarlos <strong>para organizarte democraticamente en tu Consejo Consultivo Comunal.</strong>
          </p>
          <div class="side-paint">
            <p>Aprendé más en <br><a href="/front/how.html">¿Cómo una organización abierta trabaja?</a></p>
          </div>

        </span>
        <span class="span-6 left last">
          <p>
            <span class="viewport">
              <a class="videolink" href="http://www.youtube.com/v/MAlnMWlvw9g&amp;autoplay=1&amp;fmt=6" target="blank" title="bettermeans introduction" name="videolink">
                <img src="/images/static/intro_video_image.png">
              </a></span>
          </p>
        <blockquote>Eudemocracia es una nueva y verdadera forma de trabajar colaborativamente para organizar la gestión comunitaria.<br><br> Es una gran experiencia para promover la innovación democratica en la toma de decisiones y evolucionar definitivamente del tradicional y vetusto modelo jerarquíco organizacional.</blockquote>
          <a target="blank" href="http://wiki.publicequalsonline.com/"><img src="/images/static/PEO_logo_transparent_700x150.png" height="50px" style="float:right;margin-right:90px;" /></a>
        </span>
      </span>
      </div>
      </div>
    </div>

  </div>
</div>
