<div id="inner-page">
  <div class="container">
   <%= render :partial => 'header', :locals => {:page => 'howitworks'} %>
    <div class="clear span-12 last" id="main-inner">
      <div class="about">
      <h1>Modelo de Organización Abierta</h1>
      <section class="span-12 left whitebox">

<h2> 1.Introducción</h2>
<p>
Una Organización Abierta es una organización basada en una comunidad meritocrática. Cada aspecto de la Organización Abierta está gobernada por un modelo de compromiso: cualquiera con interés en el trabajo se puede unir a la comunidad, contribuír a la Organización y participar en el proceso de toma de decisiones. Los beneficios, decisiones, y el control se compartirán basados en la contribución y la revisión de los pares. Este documento describe cómo tiene lugar esa participación y cómo establecer los méritos obtenidos dentro de la comunidad.
</p>
<h2> 2. Roles y responsabilidades
</h2>
<h3> 2.1 Usuarios</h3>
<p>
Cualquiera que interactue con la Organización Abierta es un usuario potencial. Esto incluye a: clientes, inversores, vecinos, y cualquiera en la comunidad. Cualquiera puede ser un usuario; no hay requerimientos especiales. Los usuarios son bienvenidos a participar en la Organización Abierta tanto como les sea posible. Las contribuciones del usuario ayudan a asegurar que la Organización sea exitosa en cumplir con su misión mientras mantiene sus principios. Las contribuciones del usuario común incluyen (y no se limitan a):
</p><p>
<ul>
                  <li>Evangelizar acerca de la Organización Abierta (por ejemplo agregar un enlace en un sitio web o expandir el conocimiento mediante el boca en boca).</li>
                  <li>Proveer retroalimentación: informar a la Organización de fortalezas y debilidades desde la perspectiva de un usuario nuevo y mantener la responsabilidad de la Organización Abierta con su misión y valores.</li>
                  <li>Brindar apoyo moral (un "muchas gracias" siempre reconforta)</li>
                  <li>Proporcionar apoyo financiero</li>
                  <li>Ayudar a otros usuarios</li>
                  <li>Agregar nuevas ideas a los Flujos de Trabajo</li>
                  <li>Participar en la discusión: comentando en las tareas y en los foros</li>
                  <li>Solicitar comenzar o unirse a tareas</li>
              </ul>
</p><p>
Los usuarios se comprometen con la Organización Abierta a través de los Flujo de Trabajo. Pueden pedir comenzar (o unirse) a cualquiera de las tareas abiertas. Los miembros actuales considerarán los pedidos para la inclusión en el proyecto (ver debajo).
</p><p>
Además de comenzar y unirse a tareas, los usuarios pueden usar el dashboard para participar de las siguientes maneras:

<ul>
                  <li>Dando prioridades a las tareas existentes</li>
                  <li>Votando en nuevas ideas (acuerdo / desacuerdo)</li>
                  <li>Estimando el esfuerzo necesario para completar las tareas</li>
                  <li>Aceptando o rechazando tareas completas</li>
</ul>
</p><p>
Estos votos son no vinculantes (ver más abajo).

Los Usuarios que se vayan comprometiendo con la Organización Abierta y su comunidad estarán cada vez más involucrados, a tal punto que se encontrarán convirtiéndose en Colaboradores. Una vez que el usuario ha realizado una tarea en forma completa y aceptada por la comunidad ésta lo considerá automáticamente un Colaborador. 
</p>
<h3> 2.2 Colaboradores
</h3><p>
Los Colaboradores son usuarios que han ganado créditos (ver más abajo) en un proyecto. Cualquier usuario puede convertirse en un Colaborador; no se espera de él un compromiso serio con la Organización Abierta, no se requieren habilidades especiales y no hay un proceso de selección.

Los Colaboradores pueden ser nominados y elegidos como Miembros:

Como Colaboradores ganan experiencia y familiaridad con la organización, su perfil y su compromiso dentro de la comunidad crecerá. Llegado un nivel, pueden encontrarse siendo nominados para ser Miembros, descrito en la siguiente sección.
</p>
<h3> 2.3 Miembros
</h3>
<p>
Los Miembros son Colaboradores que han mostrado estar comprometidos en el desarrollo continuo de la Organización Abierta través de un compromiso permanente con la misma y su comunidad.
</p>
<p>
Cualquier Colaborador puede convertirse en Miembro, no hay requerimientos especiales más que los de haber mostrado voluntad y habilidad en participar en el Organización Abierta como un jugador de equipo. Típicamente, un potencial Miembro necesitará mostrar que puede tener un entendimiento acerca del proyecto, de sus objetivos y su estrategia. Más importante, necesita demostrar que está alineado con los principios y valores básicos de la Organización Abierta. También tienen que haber aportado valiosas colaboraciones al proyecto en un período de tiempo.
</p>
<p>
Los nuevos Miembros pueden ser nominados de dos formas: 
1. Por un Miembro existente
2. Por haber completado una cierta cantidad de trabajo como Colaborador en el proyecto. 
</p>
<p>
Luego de que son nominados, se realizará una votación en el Equipo Central (ver más abajo). Votar a un Miembro es una de las pocas actividades que se realiza en privado. Esto es para permitir a los Miembros del Equipo Central expresar libremente sus opiniones acerca de un nominado sin exponerse. Una vez que el voto se haya realizado, los resultados son publicados en el foro. El nominado tiene derecho a pedir una explicación acerca de cualquier voto, más allá del resultado de la votación. Esta explicación será anónima y de naturaleza constructiva.
</p>
<p>
Los nominados pueden declinar su nuevo estado de Miembro.Sin embargo, esto no es usual ya que la Organización Abierta no espera tiempo ni recursos de sus Miembros. La intención detrás de este rol de Miembro es permitir a la gente contribuir con el proyecto más fácilmente, no atarlos al mismo de ninguna manera formal.
</p>
<p>
La membresía les permite a los Miembros continuar más fácilmente con las actividades relacionadas con el proyecto, dándoles acceso directo a los recursos del mismo. Esto es, tienen la autonomía para participar directamente en los resultados del Organización Abierta. 
</p>
<p>
Esto no quiere decir que un Miembro es libre de hacer lo que quiera. La membresía nos indica un valioso participante de la comunidad que ha demostrado un respeto saludable por los valores y objetivos de la Organización Abierta. Sin embargo, su trabajo continua siendo revisado por la comunidad antes de ser aceptado.
La diferencia principal entre un Miembro y un Colaborador es cuando la aprobación a su trabajo es procurada por la comunidad. Un Miembro necesita la aprobación de su trabajo luego de su contribución y no antes. 
</p>
<p>
Otra manera de verlo es que los Colaboradores pidan permiso mientras los Miembros piden una revisión.
</p>
<p>
Buscar la aprobación luego de hacer una contribución es un proceso conocido como Compromiso-Revisión. Es más eficiente permitir a la gente de confianza hacer contribuciones directas ya que la mayoría de esas contribuciones serán aceptadas por la Organización Abierta.El dashboard del Flujo de Trabajo asegura que las contribuciones sean revisadas por toda la comunidad.
</p>
<p>
Al momento que un Colaborador es invitado a ser Miembro, se entiende que conoce las herramientas de la Organización Abierta, ya que las ha utilizado primero como usuario y luego como Colaborador.
</p>
<p>
Además de sus acciones como Colaboradores, los Miembros se encontrarán haciendo uno o más de las siguientes tareas institucionales:

<ul>
                  <li>Inscribir y permitir a los usuarios y Colaboradores empezar y unirse a los flujos de trabajo</li>
                  <li>Nominar a los Colaboradores para una Membresía</li>
                  <li>Votar en las elecciones de Miembros para pertenecer al Equipo Central (ver más abajo)</li>
</ul>

Asimismo los votos de los Miembros son vinculantes, y no necesitan pedir permiso para unirse o empezar con las tareas.
</p>
<p>
Es importante reconocer que la membresía es un privilegio y no un derecho. Este privilegio debe ser ganado y luego de ello puede ser removido por el Equipo Central (ver siguiente sección), en circunstancias extremas. Sin embargo, bajo condiciones normales la membresía se mantiene mientras el Miembro desee continuar el compromiso con la Organización Abierta.
</p>
<p>
Un Miembro que muestra una contribución por encima del promedio con la Organización Abierta, particularmente con respecto a la dirección de su estrategia y su salud de largo plazo, puede ser nominado para ser Miembro del Equipo Central. Este rol es descrito en la siguiente sección.
</p>
<h3> 2.4 Equipo Central
</h3>
<p>
El equipo Central está formado por aquellos individuos identificados como “representantes de la Organización Abierta”. El Equipo Central tiene responsabilidades adicionales respecto de las que tiene un Miembro. Estas responsabilidades aseguran el buen funcionamiento de la Organización Abierta. Se espera de los Miembros del Equipo Central que participen en el planeamiento estratégico, aprobar cambios para el modelo de gobierno y representar formalmente a la Organización Abierta externamente. Principalmente, son los guardianes y cuidadores de los principios y valores de la Organización Abierta y son responsables ante todos los terceros que tienen relación con la organización.
</p>
<p>
Los Miembros del Equipo Central no tienen autoridad significativa sobre los otros Miembros de la comunidad, aunque es el Equipo Central que vota a nuevos Miembros. Además, el Equipo Central tiene acceso a los debates privados de la Organización Abierta. Estos debates son utilizados rara vez para temas sensibles como pueden ser votos para un nuevo Miembro y problemas legales que no pueden ser discutidos en público.
</p>
<p>
Además de las acciones de los Miembros, los Miembros del Equipo Central se encontrarán realizando uno o más de las siguientes tareas institucionales:

<ul>
                  <li>Votar a Miembros nominados</li>
                  <li>Votar sobre cambios en el modelo de gobierno</li>
                  <li>Nominar a Miembros para la membresía del Equipo Central.</li>
</ul>
</p>
<p>
La membresía en el Equipo Central es por invitación por parte de sus Miembros existentes. Una nominación resultará en discusión y luego en votación por TODOS los Miembros existentes de la Organización Abierta. Los votos del Equipo Central están sujetos a la aprobación consensuada (ver más abajo) de los Miembros de la Organización Abierta.
</p>
<h3> 2.5 Comite de Consejeros</h3>
<p>
El Comité de Consejeros es tradicionalmente el cuerpo del gobierno de una organización sin fines de lucro. En una Organización Abierta sin fines de lucro este comité conserva la mayoría de sus derechos tradicionales, aún cuando el gobierno está más distribuido.
</p>
<p>
El Comité de Consejeros puede iniciar una moción de voto sobre cualquier tema, tanto si es una tarea de trabajo o la inducción de un nuevo miembro. Este voto es abierto para que cualquier usuario pueda contribuir con su participación no vinculante, sólo los votos de los Miembros de la Comisión lo serán, sus resultados son vinculantes para la Organización Abierta y anulan cualquier decisión hecha por sus Miembros.
</p>
<p>
Un Miembro puede también ser parte del Comité de Consejeros pero el número está limitado a uno, por ejemplo, sólo un Miembro de la Organización Abierta puede servir como miembro votante del Comité de Consejeros y ese miembro no puede servir como consejero o tesorero del Comité. 
</p>
<p>
Para permitir la deliberación y diversidad, la mayoría del Comité de Consejeros debería ser de al menos siete personas y no estar relacionadas con los Miembros de la Organización Abierta.
</p>
<p>
El reglamento de la organización debería determinar los límites que establecen los términos de mandato de no más de tres años, excluyendo la posibilidad de servir por más de tres periodos consecutivos y requerir al menos un año descanso antes de poder ser elegido para una reelección luego de servir el máximo número de términos consecutivos.
</p>
<p>
Los miembros del Comité de Consejeros deberían reflejar la diversidad que constituye la Organización Abierta.
</p>
<p>
El Comité de Consejeros (que no son Colaboradores de la Organización) no debiera recibir compensación por sus servicios más allá del reembolsos por gastos directamente relacionados con sus deberes del Comité.
</p>
<p>
Las posiciones abiertas son anunciadas públicamente y cualquier usuario puede autonominarse para poder convertirse en Miembro del Comité de Consejeros.
</p>
<p>
La votación de los nuevos miembros del Comité de Consejeros es realizada únicamente por sus miembros existentes.
</p>
<h2> 3. El proceso de toma de decisiones</h2>
<p>
Las decisiones acerca del futuro de la Organización Abierta son realizadas a través de discusiones con toda la comunidad, desde los usuarios mas nuevos hasta los más experimentados Miembros del Equipo Central. Todas las discusiones de proyectos de administración que no sean sensibles se realizan en el dashboard de los proyectos y el foro. Ocasionalmente, debates pueden ocurrir en forma privada.

Para asegurar que la Organización Abierta no esté sobrecargada con debates interminables y votación continua, la organización opera con una política de consenso implícito. Esto permite que la mayoría de las decisiones sean hechas sin recurrir al voto formal, manteniendo ágil el trabajo y minimizando las burocracias.
</p>
<h3> 3.1 Consenso implícito
</h3>
<p>
La Toma de decisiones involucra típicamente los siguientes pasos:
1. Propuesta
2. Debate
3. Voto
4. Decisión
</p>
<p>
Cualquiera puede realizar una propuesta para ser considerada por la comunidad. Para que se pueda iniciar un debate de una nueva idea, ésta deberá ser agregada al dashboard apropiado o al foro (las ideas sobre tareas de trabajo van en el dashboard, mientras que las estratégicas se debaten en el foro). Esto traerá luego una revisión y una discusión de la idea. El objetivo de esta revisión es obtener la aprobación para comenzar a implementarla.
</p>
<p>
En general, mientras nadie se oponga explícitamente a la propuesta, está será reconocida con el apoyo de la comunidad. Esto se llama <strong>Consenso Implícito</strong>, esto es aquellos que no hayan dado su opinión explícitamente han acordado implícitamente la implementación de la propuesta.
</p>
<p>
El Consenso Implícito es un concepto muy importante dentro de la Organización Abierta. Es el proceso que permite que un gran grupo de personas alcancen consenso eficientemente, ya que alguien con nada para agregar a la propuesta no necesita perder el tiempo manteniendo su postura y los demás no pierden el suyo revisándola. 
</p>
<p>
Para que el Consenso Implícito sea efectivo, es necesario esperar al menos 72 hrs antes de asumir que no hay objeciones a la propuesta. Este requisito asegura que todos tienen el tiempo suficiente de leer, pensar y responder a la propuesta. Este periodo de tiempo se determina de forma que sea lo más inclusivo posible para todos los participantes, sin importar sus compromisos de tiempo y lugar.
</p>
<h3> 3.2 Mayoría implícita</h3>
<p>
No todas las decisiones se toman utilizando el Consenso Implícito. Los temas que afectan a la dirección estratégica o la perspectiva legal de la Organización Abierta deben ganar aprobación explícita en forma de votación.Esta sección describe como se lleva a cabo la votación. La sección 3.4 discute cuándo es necesaria una votación.
</p>
<p>
Si se llama a votación de una propuesta, todos los usuarios deberán expresar su opinión y votar.
</p>
<p>
Hay 4 tipos de votos:

<ul>
                  <li>Acuerdo: acordar con la puesta en marcha de la acción.</li>
                  <li>Desacuerdo: estar en desacuerdo en que se lleve a cabo la acción y deberá proveer una acción alternativa (o una justificación del porqué esta en desacuerdo)</li>
                  <li>Neutral: indica que se debe prestar atención al tema pero se abstiene de votar por una u otra opción.</li>
</ul>
</p>
<p>
Otra forma de abstención es que los participantes no participen. Sin embargo, es más útil dar un voto neutral que abstenerse, ya que esto permite al equipo juzgar el sentimiento general de la comunidad si la propuesta es controversial.
</p>
<p>
Todos los participantes tienen voto, desde el Usuario interesado al Miembro más activo del Equipo Central. La Organización Abierta alienta a que todos expresen sus opiniones en los debates y las votaciones. Sin embargo, sólo los Miembros de la Organización Abierta (como definimos más arriba) y los Miembros del Equipo Central tienen votos vinculantes en la toma de decisiones. También es su responsabilidad asegurar que son consideradas las opiniones de la comunidad entera. A pesar que sólo los Miembros y Miembros del Equipo Central tienen votos vinculantes, un voto 'oponer' de un no miembro debe ser considerado por la comunidad y si es apropiado, debe ser avalado con un bloqueo vinculante.
</p>
<p>
Oponer: cuando es emitido por un Miembro o Miembro del Equipo Central, se convierte esencialmente en un ‘veto’.
</p>
<p>
Cuando un decisión recibe 'oponer', es responsabilidad de la comunidad toda discutir esa objeción. Tal discusión continuará hasta que se vuelva atrás la objeción, se supere (en caso de objeción no vinculante) o la propuesta se modifique de forma de alcanzar consenso. En raras circunstancias puede no alcanzarse consenso, en tal caso el Equipo Central decidirá el curso de acción a seguir. 
</p>
<p>
<strong>En conclusión:</strong> * Aquellos que no están de acuerdo con la propuesta y creen que puede ser en detrimento de la Organización Abierta deberían votar ‘oponer’. Sin embargo, se esperará de ellos que elaboren, entreguen y defiendan una contra propuesta. * Aquellos que no estén de acuerdo, no ven un detrimento y no tienen una mejor idea deberían votar acuerdo. * Aquellos que no le interesa ninguna de las opciones deberían votar neutral.
</p>
<h3> 3.3 Tipos de aprobación</h3>
<p>
Diferentes acciones requieren diferentes tipos de aprobación, abarcando desde consenso implícito hasta decisión por mayoría del Equipo Central. La siguiente sección describe los tipos de aprobación.
</p>
<h4> 1. Consenso implícito: Inmediato</h4>
<p>
Una acción con consenso implícito permite la acción, a menos que se reciba un voto 'oponer' vinculante. Dependiendo el tipo de acción, se podrá llamar a votación. Nótese que a pesar de requerise un voto 'oponer' vinculante para prevenir la acción, cualquiera es libre de emitir un voto 'oponer' con argumentos que lo apoyen. Se espera que los Miembros evalúen los argumentos y, si es necesario, apoyarlos con un 'oponer' vinculante.
</p>
<h4> 2. Mayoría implícita: 72 horas</h4>
<p>
Una votación con mayoría implícita requiere más votos vinculantes ‘acuerdo’ que votos vinculantes ‘desacuerdo’ y ningún veto (votos vinculantes ‘oponer’). Una vez que han pasado 72 horas, la decisión se mueve en dirección a lo dictado por la mayoría.

Naturalmente, si una mayoría actual de Miembros votan antes de las 72 horas, la decisión final va en esa dirección inmediatamente. A veces la mayoría implícita se rige con el umbral de votación. Esto permite que si votan suficientes Miembros, las decisiones se pueden tomar más rápidamente. Si el umbral de votación se alcanza antes de las 72 horas, entonces la decisión va en dirección de la mayoría.
</p>
<h4> 3. Consenso unánime: 120 horas</h4>
<p>
Todos los votos vinculantes que son emitidos serán 'acuerdo' y no puede haber votos en 'desacuerdo' o vetos (votos 'oponer' vinculantes).
</p>
<h4> 4. Mayoría por créditos</h4>
<p>
Algunas acciones estratégicas son decididas dándole a cada participante un voto por credito. Tales acciones afectan generalmente a la fundación del proyecto (por ejemplo, adoptar un nuevo modelo de gobierno).
</p>
<h3> 3.4 ¿Cuando es necesaria una votación?</h3>
<p>
Cada esfuerzo es hecho para permitir que la mayoría de las decisiones sean tomadas a través del consenso implícito. Esto es, simplemente asumiendo que las intenciones de uno son suficientes para proceder, a menos que que haya una objeción. Las actividades que requieren más control son hechas a través de mayoría implícita, que es lo suficientemente informal para que el equipo se mantenga ágil.

Sin embargo, algunas actividades requieren un proceso de aprobación mas forma para asegurar la salud y cohesión de la Organización Abierta.
</p>
<p>
Esta sección identifica qué tipo de voto debería ser utilizado y  cuando hacerlo:

<ul>
                  <li>Usuario/Colaborador solicita unirse/empezar una tarea: consenso implícito de cualquier Miembro.</li>
                  <li>Nuevo colaborador: consenso implícito de cualquier Miembro.</li>
                  <li>Las tareas se mueven a abiertas en espera o son aceptadas dependiendo del valor estimado de esa tarea:
   <ul>
                  <li>0-1 puntos: mayoría implícita de todos los miembros, umbral de voto:1</li>
                  <li>2-4 puntos: mayoría implícita de todos los Miembros, voto umbral:2</li>
                  <li>5-6 puntos: mayoría implícita de todos los Miembros, voto umbral: 3</li>
   </ul>
                  </li>
                  <li>Nuevo Proyecto: mayoría implícita de todos los Miembros.</li>
                  <li>Nuevo Miembro: aprobación unánime del Equipo Central.</li>
                  <li>Remoción de un Miembro: consenso unánime del Equipo Central.</li>
                  <li>Nuevo Miembro del Equipo Central: consenso unánime del Equipo Central.</li>
                  <li>Remoción Miembro del Equipo Central: consenso unánime del Equipo Central.</li>

                  <li>Cambio de Modelo de Gobierno: mayoría por créditos.</li>
                  <li>Cambios en la Estructura Legal: mayoría por créditos.</li>
                  <li>Estrategia de Largo Plazo: mayoría por créditos.</li>
</ul>

Anomalía: estimación realizada por promedio implícito: cualquier Miembro puede estimar una tarea que es nueva o está abierta. La estimación es cerrada una vez que la tarea está en progreso.
</p>
<h2> 4. Los beneficios en una Organización Abierta voluntaria</h2>

<h3> 4.1 Creditos</h3>
<p>
Quien haya realizado un trabajo para una Organización Abierta ha cobrado por ese trabajo con créditos. Los créditos son una promesa hecha por la organización para pagar tan pronto como los fondos están disponibles, cada crédito vale $1.
</p>
<p>
El pago de los créditos adeudados es monitoreado en el flujo de pago, que muestra exactamente a quien se le debe dinero, donde lo tienen en comparación con otros acreedores y cuando periódicamente la organización realiza los pagos a sus acreedores.
</p>
<p>
Cuando cualquier Miembro en la empresa ingresa dinero para repartir ganancias (ver mas abajo), este dinero es utilizado primero para pagar el flujo pago, por ejemplo la empresa no puede compartir cualquier ganancia antes de que todo su dinero adeudado a sus colaboradores sea pagado completamente.
</p>
<p>
Los créditos no son solamente dinero adeudado, también le proveen a su dueño crédito para compartir, presupuesto y derecho a votar.
</p>
<p>
Los créditos no expiran inmediatamente después de ser pagados. Una vez que los créditos son pagados sin embargo, tienen una fecha de vencimiento, el período de vencimiento comienza desde el momento en que el acreedor lo recibe y dura mientras el acreedor los gaste. Por ejemplo, si un participante recibe $20.000 en créditos y 4 meses después los $20.000 en créditos fueron pagados en dinero, cuatro meses después de eso (ocho meses después de la fecha original de recepción) sería cuando sus créditos expirarían. Los acreedores tienen la opción de encomendar algunos o todos sus créditos para la equidad, por ejemplo, sacarlos del flujo de pago y asegurar de que nunca expiren.
</p>
<h3> 4.2 Estimaciones</h3>
<p>
Cada tarea en una Organización Abierta es estimada independientemente en términos de cuántos créditos serán adjudicados para que sea completada. Cualquier miembro es libre de dar una estimación de cuánto debería darse para una tarea en particular y su estimación afectará al promedio estimado para esa tarea. Una vez que la tarea comienza y está siendo ejecutada, su estimación ya no puede ser cambiada.
</p>
<h3> 4.3 Retrospectivas
</h3>
<p>
De manera de asegurar que todos los Colaboradores de un Flujo de Trabajo sean adecuadamente compensados por su trabajo y que la compensación sea lo mas justa posible, el sistema de compensación en una Organización Abierta está basada en varios puntos:

<ul>
                  <li>No hay salarios fijos en una Organización Abierta</li>
                  <li>Los participantes son compensados basado en la tareas completadas, no el tiempo utilizado. Esto es para proveer a todos la libertad de contribuir por la cantidad que elijan hacerlo y que la organización compense justamente.</li>
                  <li>El trabajo es valorado por sus pares, ellos son los compañeros y miembros del mismo equipo, es decir son los mas capacitados en saber cuán valiosas fueron los aportes de alguien. Esto es para proveer una valoración lo más justa del trabajo de las personas y utilizando la sabiduría de la gente en valorar el trabajo hecho.</li>
                  <li>La evaluación de los pares es comparada con la auto-evaluación. Esto es para proveer la oportunidad de que cada participante se refleje y aprenda sobre la evaluación de su propio trabajo, asimismo es un indicador para todos los participantes de sus habilidades y aportes reales.</li>
</ul>
</p>
<p>
Este sistema de compensación es llevado a cabo utilizando la retrospectiva que se da una vez que la tarea vale una cierta cantidad de créditos, esta completa y es aceptada en cualquier proyecto. 
</p>
<p>
Durante la retrospectiva cada persona que ha contribuido con cualquier cantidad de trabajo de cualquier a la tarea se le pide evaluar su propio porcentaje de contribución para completar las mismas así como también el trabajo de otros participantes. Una vez que todos los participantes han manifestado su opiniòn, cada una recibe el promedio de evaluación de su equipo sobre su trabajo. Por último, también es comparado con la evaluación que hacen de ellos mismos y se vincula con su reputación. 
</p>
<p>
El porcentaje que cada participante recibe es luego aplicado a la cantidad total de créditos asociados con la retrospectiva y esos créditos son distribuidos acordemente.
</p>
<h3> 4.4. Presupuesto y distribución de ingresos</h3>
<p>
El presupuesto en una Organización Abierta es distribuido confiando en la inteligencia emergente de los participantes decidirá la mejor manera de gastar el dinero de la organización. 
</p>
<p>
Mientras que el dinero circula por la organización, ya sea a través de recaudación de fondos, ingresos o préstamos, su erogación de presupuesto es distribuida a todos los miembros de acuerdo a los créditos que posean. Cada miembro tiene la autonomía de asignar su presupuesto a las tareas que sientan necesitan ese dinero. 
</p>
<p>
Un miembro puede también decidir asignar algo o todo su presupuesto en a la distribución de ganancias. Este dinero será primero utilizado para pagar los créditos en el flujo de pago y luego distribuido a todos los dueños de créditos, sean miembros o no, de acuerdo a los créditos relativos que posean.
</p>
<h2> 5. Las finanzas importan en una Organización Abierta voluntaria</h2>

<h3> 5.1 Créditos
  </h3>
<p>
Cualquiera que haya realizado un trabajo en una Organización Abierta sin fines de lucro es recompensado por ese trabajo con créditos.
</p>
<p>
Existen dos tipos de créditos:

1. Créditos en efectivo: los créditos en efectivo son una promesa de la Organización para pagar al dueño en cuanto los fondos estén disponibles, cada crédito vale $1.

2. Créditos voluntarios: los créditos voluntarios le dan al poseedor/dueño el reconocimiento y el poder de decisión de un crédito pero no tiene valor monetario.
</p>
<p>
El pago de los créditos en efectivo adeudados es monitoreado y permite mostrar exactamente a quien se le debe dinero, donde están en comparación con otros acreedores y cuan periódicamente la organización está realizando los pagos a sus acreedores.
</p>
<p>
Cuando un miembro de la Organización Abierta encomienda efectivo al flujo de pago (ver mas abajo), este dinero es utilizado para realizar los pagos adeudados a sus dueños.
</p>
<p>
Los créditos no son sólo dinero poseído, sino que dan al propietario derechos en la distribución de las ganancias, presupuesto y derechos de votación.
</p>
<p>
Los créditos no expiran inmediatamente cuando fueron pagados. Una vez que los créditos han sido pagados, tienen sin embargo, una fecha de caducidad, que comienza a contar desde que el acreedor recibe el efectivo por sus créditos y dura hasta que el acreedor convierta todos los créditos en efectivo. Por ejemplo si un participante recibe $20000 en créditos y 4 meses más tarde se convirtieron en efectivo los $20000, entonces 4 meses después (8 meses desde la fecha original del recibo) será cuando expiren esos créditos.
</p>
<p>
Los acreedores tienen la opción de poner algunos o todos sus créditos como créditos para toma de decisiones, por ejemplo quitarlos del flujo de pagos y asegurase así que nunca vayan a expirar.
</p>
<h3> 5.2 Estimaciones</h3>
<p>
En una Organización Abierta sin fines de lucro cada tarea se estima independientemente, en términos de cuántos créditos serán recompensados por su terminación. Cualquier miembro es libre de dar una estimación de cuánto se debería recompensar y su estimación afectará a la estimación promedio de la misma. Una vez que el trabajo sobre la tarea comienza y es ejecutado, no se puede modificar más tal estimación.
</p>
<h3> 5.3 Retrospectivas</h3>
<p>
De manera de asegurar que todos los Colaboradores de un Flujo de Trabajo sean adecuadamente compensados por su trabajo y que la compensación sea lo mas justa posible, el sistema de compensación en una Organización Abierta está basada en varios puntos:

<ul>
                  <li>No hay salarios fijos en una Organización Abierta</li>
                  <li>Los participantes son compensados basado en la tareas completadas, no el tiempo utilizado. Esto es para proveer a todos la libertad de contribuir por la cantidad que elijan hacerlo y que la organización compense justamente.</li>
                  <li>El trabajo es valorado por sus pares, ellos son los compañeros y miembros del mismo equipo, es decir son los mas capacitados en saber cuán valiosas fueron los aportes de alguien. Esto es para proveer una valoración lo más justa del trabajo de las personas y utilizando la sabiduría de la gente en valorar el trabajo hecho.</li>
                  <li>La evaluación de los pares es comparada con la auto-evaluación. Esto es para proveer la oportunidad de que cada participante se refleje y aprenda sobre la evaluación de su propio trabajo, asimismo es un indicador para todos los participantes de sus habilidades y aportes reales.</li>
</ul>
</p>
<p>
Este sistema de compensación es llevado a cabo utilizando la retrospectiva que se da una vez que la tarea vale una cierta cantidad de créditos, esta completa y es aceptada en cualquier proyecto. 
</p>
<p>
Durante la retrospectiva cada persona que ha contribuido con cualquier cantidad de trabajo de cualquier a la tarea se le pide evaluar su propio porcentaje de contribución para completar las mismas así como también el trabajo de otros participantes. Una vez que todos los participantes han manifestado su opiniòn, cada una recibe el promedio de evaluación de su equipo sobre su trabajo. Por último, también es comparado con la evaluación que hacen de ellos mismos y se vincula con su reputación. 
</p>
<p>
El porcentaje que cada participante recibe es luego aplicado a la cantidad total de créditos asociados con la retrospectiva y esos créditos son distribuidos acordemente.
</p>
<h3> 5.4. Utilizando el presupuesto</h3>
<p>
El uso del dinero en una Organización Abierta sin fines de lucro es distribuido, confiando que la inteligencia emergente de los participantes decidirá la mejor opción para utilizarlo. 
</p>
<p>
Mientras que el dinero que ingresa a la Organización, ya sea a través de recaudación de fondos, ingresos/ganancias o préstamos, es distribuido hacia todos los miembros de acuerdo a los créditos que tienen.
</p>
<p>
Cada miembro tiene la autonomía de asignar su presupuesto a cualquier tarea que piense lo necesita mas. 
</p>
<p>
Un Miembro puede también decidir asignar algo o todo su presupuesto al flujo de pago.
</p>
<h2> 6. Conclusión
  </h2>
<p>
El modelo de administración y gobierno de una Organización Abierta deviene en el fin más democrático del espectro de control. Pero <strong>no es una democracia, es una meritocracia.</strong> Es un modelo que pasa el control a aquellos quienes pueden ejercerlo para el bien común más que para el interés de una minoría. 
</p>
<p>
La organización del trabajo es, generalmente, emergente. La gente emerge para hacer el trabajo simplemente haciéndolo. Si ayudan, otra gente comienza a confiar en ellos. En una organización saludable, esta confianza eventualmente resulta en una autoridad explícita y responsabilidades. Esto se llama liderazgo. En las estructuras tradicionales de la administración, la autoridad es dada desde el nivel más alto sin tener en cuenta la confianza existente o el respeto. Esto es a lo que la mayoría de la gente lo llamaría Gerente. Los gerentes pueden también ser líderes pero esto desafortunadamente resulta más raro de lo que debiera.
</p>
<p>
Debido a la naturaleza de la participación abierta en Organizaciones Abiertas las mismas no tienen gerentes/administradores pero sí tienen líderes.
</p>
<p>
Hay una gran diferencia entre la cultura de liderazgo y la cultura de la administración. En la mayoría de las corporaciones, administración es igual, a status y poder. La dueños que tiene gente trabajando para ellos tienen las decisiones en la dirección de la organización. 
</p>
<p>
En una Organización Abierta saludable la gente que: 1) tiene buenas ideas y 2) terminan las tareas, son las que tienen status y poder. Estas son las personas que tienden a tener muchos colaboradores que comienzan a seguirlos.
</p>
<p>
Primero hay que ganarse el liderazgo y luego comenzar a gestionar.
</p>
</section></div></div></div></div>
