<div id="inner-page">
  <div class="container">
   <%= render :partial => 'header', :locals => {:page => 'why'} %>
    <div class="clear span-12 last" id="main-inner">
      <div>
      <h1>¿Porque BetterMeans?</h1>
      <span class="span-12 left whitebox">
        <span class="span-6 left colborder">
          <h2>La forma en que trabajamos juntos necesita una actualización</h2>
                      <p>Estamos enfrentando problemas sociales, ambientales y económicos crecientes. Muchos de nosotros queremos trabajar para resolverlos y estamos aprendiendo que esos problemas están interconectados y son complejos.</p>

                      <p>Estamos tratando de resolverlos utilizando estructuras organizacionales que fueron inventadas antes que la lamparita! Las organizaciones de la era industrial no son suficientemente inteligentes o flexibles para surcar los desafíos que enfrentamos.</p>
                        <p><strong>Para cambiar nuestro mundo, necesitamos un nuevo compromiso/acuerdo de cómo trabajar juntos.</strong> Cómo tomamos decisiones. Como decidimos quien hace cuál trabajo y qué le corresponde a cada quién por hacerlo.</p>
        </span>
        <span class="span-6 left last">

          <span class="viewport">
          <a class="videolink" href="http://www.youtube.com/v/OZaxoRi6IlE&autoplay=1&fmt=22" target="blank" title="tale of two tales">
          <img src="/images/static/taleoftwotales.jpg" />
          </a>
          </span>
          <blockquote>Los problemas significativos no pueden ser resueltos en el mismo nivel de pensamiento con que los hemos creados.<author>Albert Einstein</author></blockquote>

        </span>


      </span>
      </div>
      <div class="paint">
        <p>
        aprendé <br><a href="/front/how.html">como una organización abierta trabaja</a></p>
      </div>
      <div>
            <h1></h1>
            <span class="span-12 left whitebox">
              <span class="span-6 left colborder">
                <h2>Emprendedores sociales: ayudando a otros 
a hacer un mejor trabajo</h2>
                <p>Dos tercios de las personas tienen una idea para comenzar un proyecto como emprendedor pero sólo un décimo de ellos lo llevará a cabo.<strong>Hay muy pocas fuentes de capital disponible para emprendedores sociales.</strong></p>
                <p>Las innovaciones en el espíritu social emprendedor obstruidas/sofocadas por la falta de canales de apoyo de financiamiento y la dificultad de encontrar y reclutar la fuerza de trabajo apropiada.<strong>Los emprendedores necesitan mejor acceso al capital y al talento,</strong>necesitamos gente apasionada que trabaje porque creen en una idea y se comprometen a proyectos sin que se les diga que hacer.</p>
                <p>El modelo de Organización Abierta es una manera para que las personas con ideas se conecten con otros y pongan en acción esas ideas con mínima burocracia o resistencia.</strong>Aprovecha la sabiduría colectiva, creatividad, pasión y productividad de una multitud dispersa de gente -ya sea de una ciudad o que este a ambos lados del océano- y canaliza sus esfuerzos para simplemente terminar el trabajo. Que es la verdadera razón por la cual la mayoría de nosotros se levanta cada mañana para trabajar en este mundo y realizar un buen trabajo.</p>
              </span>
              <span class="span-6 left last">
                <span class="viewport">
                <a class="fancy_image" title="Principios de un Modelo de Organización Abierta" HREF="/images/static/principles.png"> <span class="dark-background"></span> <img src="/images/static/principles_medium.png" alt="" width="460" height="247"/> </a></span>
                <br><br>
                <blockquote>Necesitaremos la voluntad para cuestionar nuestras maneras habituales mas profundas de ver las organizaciones y la administración. Necesitaremos voluntad para eventualmente adoptar el aparente caos de una organización que nadie maneja/administra y donde todos compartimos responsabilidad. Necesitaremos adoptar el continuo ciclo de equivocarnos y corregir los errores, el proceso natural de aprendizaje. Y necesitaremos la voluntad para entregar/rendir a la necesidad de control- “el Newtoniano” que reside en todos nosotros.<author>Dee Hock, CEO and Founder of Visa</author></blockquote>
              </span>
            </span>
      </div>
      <div>
            <h1></h1>
            <span class="span-12 left whitebox">
              <span class="span-6 left colborder"><br><br>
                <blockquote>Por miles de años, los mercados y las jerarquías eran la única alternativa para congregar el esfuerzo humano. Ahora, hay una tercera opción: redes distribuidas de tiempo real.
                <author>Gary Hamel<br> Voted #1 business thinker by the Wall Street Journal</author></blockquote>
              </span>
              <span class="span-6 left last">
                <h2>La Brecha en el Compromiso</h2>
                <p> Nuestras organizaciones fracasan al querer engage us/llamar nuestra atención y proveer un lugar donde nuestras metas se vuelvan realidad.</p>
                <p><strong>El 85% de la gente no se involucra en lo que hace. Dos de las cinco razones mas importantes son la administración y…. de valores.</strong></p>
                <p>Internet nos provee de herramientas para conectarnos y trabajar juntos pero el sistema de administración que estamos utilizando no logra actualizarse, tiene más de 100 años y fue pensado desde una visión militar totalmente antiquada.</p>
              </span>
            </span>
      </div>
      <span class="span-12 left">
        <br>
        <h1>El Colapso del Modelo Corporativo</h1>
      </span>
      <div>
            <span class="span-12 left whitebox">
              <h2>Es simple, la estructura organizacional de hoy está desactualizada. El modelo de negocios tradicional ya no sirve.</h2>
              <h3>Ya no sirve porque el 67% de los trabajadores no están contentos con sus trabajos.</h3>
              <p>De hecho, la insatisfacción laboral ha aumentado sostenidamente en un 16% los últimos 20 años. Y esta tendencia no parece disminuir. Notablemente, la porción más insatisfecha de la fuerza laboral es la generación Y, aquellos menos de 25 años.</p>
              <h3>Ya no sirve porque la estructura organizacional actual no puede adaptarse al ritmo que lo hace el mundo.</h3>
              <p>El modelo de negocios de hoy, originado antes que la plomería y la electricidad, mucho antes que el mercado global, competidores multinacionales y el rápido cambio tecnológico. El tiempo se está acelerando. En 2008 el número de aplicaciones de patentes recibió duplicó el número de aplicaciones de 1998, sólo 10 años antes. El modelo actual hace imposible para un líder o pequeño equipo descubrir, investigar, implementar y dictar nuevos.</p>
              <h3>No sirve porque en un sistema jerárquico, la innovación está siendo asfixiada.</h3>
              <p>Las jerarquías deben imponer la conducta a seguir creando manuales interminables que hablan de procedimientos corporativos, protocolos y políticas. Los trabajadores, amenazados con acciones punitivas o pérdida de su sueldo, sacrifican el sentido común por la adherencia a las reglas, dejando a las organizaciones casi despojadas de personas con mentes claras para decidir y acabando con una inteligente …. y las innovaciones que pudieran surgir.</p>
              <blockquote class="middle">Para mí, está es una imagen familiar - gente en la organización preparada y dispuesta a trabajar que quiere contribuir con sus ideas, preparada para tomar responsabilidades y los líderes reteniéndolos, insistiendo que esperen por decisiones o instrucciones.<author>Margarate J. Wheatley</author></blockquote>
              <h3>Ya no sirve por la gran desconfianza entre el público general y las entidades corporativas.</h3>
              <p>Las leyes le otorga a las corporaciones los mismos derechos legales que un ciudadano humano - al mismo tiempo, carecen de medios claros para hacer responsables a estas entidades. El resultado es <strong>poder sin responsabilidad</strong>, sólo tenemos que mirar a Enron, Halliburton o la reciente crisis inmobiliaria para comprender los efectos enfermizos de este desparejo acuerdo.</p>
              <h3>Ya no sirve porque la fuerza de trabajo, manejada, coercionada y manipulada por un sistema de castigos y recompensas, deja poca espacio para la ingenuidad, cooperación, honestidad o respeto. O sea, nuestra humanidad.</h3>
              <p>Crea una cultura que ve a las personas (clientes y trabajadores) como objetos a ser manipulados por beneficio propio. Premia políticas y conductas no éticas- a menudo a expensas de las verdaderas metas de la compañía. El resultado es<strong>resentimiento de los empleados y clientes por igual</strong> y el resentimiento hacer mermar las ganancias.</p>
              <h3>Ya no sirve porque el actual modelo de negocios se enfoca en metas y entonces actúa como si los fines pudieran justificar los medios.</h3>
              <p>En tal organización, el que hacer nunca se pierde. Solo el porque se pone en práctica. Y cuando el porque se pierde. Merck termina vendiendo veneno, en nombre de “curar al enfermo”.  Monsanto estrangula el suministro de semillas mundial y utiliza prácticas profundamente no éticas e ilegales para arruinar a los granjeros tradicionales en el nombre de “alimentar al hambriento”. Y Nike utiliza explotación laboral, abusa de los trabajadores y paga mucho menos que un salario mínimo del tercer mundo - eludiendo leyes locales para hacerlo, todo en el nombre de “inspirando a la juventud de hoy para alcanzar su máximo potencial”.</p>
              <blockquote class="middle">La ética es el nuevo ambiente competitivo<author>Peter Robinson, CEO Mountain Equipment Co-op</author></blockquote>
            </span>
      </div>

      </div>
    </div>
  </div>
</div>
</body>
</html>
